.login {
  background-color: #2C3044;
  border-radius: 30px;
  color: #e74c3c;
  padding: 1rem; }
  .login-head {
    font-size: 2rem;
    font-weight: 900;
    margin: 1rem 0; }
  .login > form {
    width: 80%;
    font-size: 1.2rem; }
    .login > form > span {
      color: grey; }
      .login > form > span > a {
        text-decoration: none;
        color: #e74c3c; }
    .login > form input {
      background-color: #2C3044;
      border: white; }

.invalid {
  text-align: left;
  color: red;
  margin: 0;
  font-size: 0.8rem; }

.form-check-label {
  color: grey; }

.regis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2C3044;
  margin: 5rem 0;
  padding: 3rem 0;
  border-radius: 50px;
  color: white; }
  .regis input {
    background-color: #2C3044;
    border-color: white;
    color: white; }
    .regis input::placeholder {
      color: white; }
    .regis input:focus {
      background-color: #2C3044;
      border-color: white;
      color: white; }
  .regis label {
    color: white; }
  .regis > h1 {
    color: #e74c3c;
    font-weight: bolder;
    font-size: 3rem; }
  .regis h2 {
    color: #e74c3c;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center; }
  .regis-group {
    margin: 1rem 0; }
  .regis > hr {
    background-color: #e74c3c;
    display: block;
    height: 6px;
    width: 90%; }
  .regis-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .regis-team-member {
      margin: 2rem 0; }

button {
  border-radius: 30px;
  margin: 1rem 0;
  padding: 0.3rem 3rem;
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  font-size: 1.2rem;
  font-weight: 800;
  align-self: center; }

#inp-date::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat center;
  height: 10px;
  width: 10px; }

.inp-date::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../assets/img/regis/ic_date_range_24px.svg) no-repeat center;
  cursor: pointer; }

.inp-date::-webkit-inner-spin-button {
  display: none; }

.inp-file {
  background: url(../assets/img/regis/ic_perm_media_24px.svg) no-repeat right;
  background-origin: content-box; }

label {
  overflow: hidden; }

input[type="file"] {
  display: none; }
