html, body{
    margin: 0;
    padding: 0;
    font-family: 'CircularStd';
    scroll-behavior: smooth;
    background-color: #1D2134;
}

@font-face{
    font-family: "CircularStd";
    src: url("../assets/fonts/CircularStd-Medium.otf");
}

.head{
    position: fixed;
    top: 0;
    background-color: #1D2134;
    z-index: 99;
}

.nav-img{
    width: 5.5rem;
    height: auto;
}

.nav-link{
    font-size: 1.1rem;
    margin: 0 1rem;
    border-bottom: 1.5px solid transparent;
}

.nav-link:hover, .active{
    border-bottom: 1.5px solid #E74C3C;
}

#register{
    padding: .2rem 1rem;
    border-radius: 50px;
    border: 2px solid #E74C3C;
}

#register:hover{
    background-color: #E74C3C;
}



.home{
    background: url("../assets/img/home/BG_Home_1920-min.png") no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-content img{
    width: 100%;
    height: auto;
}

#title{
    color: #E74C3C;
    font-size: 2rem;
    font-weight: bold;
}

#slogan{
    color: #3498DB;
    font-size: 4rem;
    font-weight: bold;
}

#date{
    color: #FFFFFF;
    font-size: 2.5rem;
}

.extra{
    color: #FFFFFF;
    font-size: 1.5rem;
}

.guide button{
    border: none;
    background-color: #E74C3C;
    font-size: 1.8rem;
    padding: .5rem 1.5rem;
    border-radius: 50px;
}

.guide > button > a{
    text-decoration: none;
    color: white;
}

.more-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.more-info img{
    width: 50px;
}