html, body{
    margin: 0;
    padding: 0;
    font-family: 'CircularStd';
    scroll-behavior: smooth;
}

@font-face{
    font-family: "CircularStd";
    src: url("../assets/fonts/CircularStd-Medium.otf");
}