body {
  box-sizing: border-box;
  background-color: #1D2134;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "CircularStd";
  overflow-x: hidden; }

@font-face {
  font-family: "CircularStd";
  src: url("../assets/fonts/CircularStd-Medium.otf"); }

@font-face {
  font-family: "CircularStd Book";
  src: url("../assets/fonts/CircularStd-Book.otf"); }

#navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #252A41;
  border-radius: 20px;
  height: 95vh;
  flex: contents;
  flex-wrap: nowrap;
  box-sizing: content-box;
  padding: 20px;
  white-space: nowrap;
  justify-content: flex-start; }
  #navbar-c {
    padding-left: 15px;
    height: 93%;
    position: sticky; }
  #navbar-hackathon-logo {
    width: 50px; }

.navbar-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: auto;
  z-index: 1000;
  margin: 10px 0px;
  align-items: center;
  justify-content: center;
  color: white; }

.navbar-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 10px 0;
  color: white;
  align-items: center;
  justify-content: center; }

.navbar-icon {
  width: 35px; }
  .navbar-icon:hover {
    cursor: pointer; }

.navbar-icon-c {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .navbar-icon-c-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%; }

.navbar-caption {
  display: flex;
  text-transform: uppercase;
  font-size: .8em;
  margin-left: 0px;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  transition: margin 0.3s, visibility 0.3s, width 0.3s linear;
  text-align: left; }
  .navbar-caption-special {
    display: flex;
    flex-direction: column;
    text-transform: none;
    margin-left: 0px;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    transition: margin 0.3s, visibility 0.3s, width 0.3s linear; }
  .navbar-caption-2 {
    width: 0;
    overflow: hidden;
    visibility: hidden;
    text-align: left;
    transition: margin 0.3s, visibility 0.3s, width 0.3s linear; }

.navbar-footer {
  position: absolute;
  display: flex;
  bottom: 10px;
  font-size: .75em;
  justify-content: center;
  width: 0;
  height: 0;
  visibility: hidden;
  transition: visibility 0.15s, width 0.15s linear; }

.logout {
  border: none;
  background: none; }

hr {
  width: 100%;
  border-top: solid 1px gray; }

.hr3 {
  border-top: solid 1px #E74C3C; }

.hr4 {
  border-top: solid 1px #E74C3C;
  margin: 0;
  padding: 0; }

#display-image {
  width: 25vw; }

#container {
  height: 100%;
  width: 100vw;
  background-color: #1D2134;
  color: white;
  position: relative;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  font-family: "CircularStd"; }

.display-c {
  border: none;
  width: fit-content;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C3044; }

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
  flex-direction: column;
  position: relative;
  color: #e74c3c; }
  .timeline::-webkit-scrollbar {
    display: none; }
  .timeline > h1 {
    text-align: center; }
  .timeline-wrapper {
    width: 100%;
    z-index: 2; }
  .timeline-icons > div {
    width: 100rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .timeline-icons img {
    display: block;
    width: 5rem; }
  .timeline-path {
    color: white;
    position: absolute;
    width: 65%;
    transform: translateY(-8rem);
    margin: 10rem; }
    .timeline-path-line {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 20%; }
  .timeline-line {
    width: 75%;
    height: 5px;
    background-color: #3498db; }
  .timeline-dot {
    width: 76%;
    transform: translateY(-60%); }
    .timeline-dot > div {
      content: "";
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background-color: #3498db; }
  .timeline-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font: 1.5rem CircularStd;
    z-index: 3; }

#content {
  width: 85%;
  margin: 0px 30px;
  margin-left: 10%; }

#header {
  text-align: center;
  width: 100%;
  font-size: 3rem;
  margin-top: -6px; }

h1 {
  font-size: 2.0rem;
  margin: 30px 0;
  text-align: center; }

.content-x {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5rem 0; }

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0; }
  .nav-link {
    padding: 5px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: .8em;
    color: white;
    width: inherit;
    width: 100%;
    display: flex;
    justify-content: center; }
  .nav-pills {
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
    box-sizing: content-box; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: white;
  border-radius: 20px;
  background-color: #1d2134; }

.editgroup-content {
  color: #E74C3C;
  display: flex;
  flex-direction: column;
  align-items: center; }

.editgroup-col {
  display: flex;
  margin: 15px 0;
  width: 50%;
  flex-direction: column;
  background-color: #2C3044;
  border-radius: 18px;
  padding: 20px; }
  .editgroup-col header {
    font-size: 2rem; }

.editgroup-info {
  display: flex;
  flex-direction: row;
  height: fit-content; }
  .editgroup-info div {
    color: white; }
  .editgroup-info-c {
    margin: 10px 0px;
    color: #1D2134; }
  .editgroup-info-input {
    background-color: #2C3044;
    border: solid 1px #7a7a7a;
    border-radius: 8px;
    width: 90%;
    color: white;
    font-family: "CircularStd Book";
    font-size: 0.75rem;
    padding: 5px 8px;
    height: auto;
    display: flexbox; }
  .editgroup-info-left {
    width: 50%;
    height: max-content; }
  .editgroup-info-right {
    width: 50%;
    height: max-content; }

.editgroup-cv {
  color: white; }
  .editgroup-cv-c {
    display: flex;
    flex-direction: row; }
  .editgroup-cv-left {
    display: flex;
    flex-direction: row;
    font-family: "CircularStd Book";
    width: 45%;
    border: solid 1px #7a7a7a;
    padding: 5px 8px;
    margin-right: 5%;
    border-radius: 8px;
    font-size: 0.75rem; }
    .editgroup-cv-left img {
      height: 13px; }
    .editgroup-cv-left span {
      color: #E74C3C;
      margin: 0 10px; }

.editgroup-view {
  background-color: #E74C3C;
  width: 100px;
  font-size: 0.75rem;
  border-radius: 15px;
  border: none;
  color: white; }

.editgroup-contact-content {
  font-family: 'CircularStd Book';
  font-weight: normal;
  font-size: .75em;
  flex-wrap: wrap;
  flex-basis: 50%; }

.editgroup-contact-info {
  font-family: 'CircularStd';
  font-weight: normal;
  font-size: .75em;
  flex-direction: row;
  flex-basis: 25%; }
  .editgroup-contact-info-c {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    color: white; }

.editgroup-contact-icon {
  width: 20px;
  margin-right: 15px;
  filter: invert(1); }

.payment {
  width: 50%;
  flex-direction: column;
  background-color: #252A41;
  color: white;
  border-radius: 18px;
  padding: 20px 30px;
  margin-bottom: 20px;
  overflow: hidden;
  height: auto; }
  .payment-c {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .payment-header {
    font-size: 2em;
    padding: 0px 10px;
    padding-bottom: 15px;
    font-weight: bold;
    color: #E74C3C; }
  .payment-title {
    flex-basis: 90%; }
    .payment-title-c {
      padding: 10px;
      padding-bottom: 10px;
      display: flex;
      font-size: 1.2em;
      flex-direction: row;
      font-family: "CircularStd";
      font-weight: normal;
      align-items: center; }
  .payment-content {
    margin-bottom: 10px;
    padding-left: 30px;
    font-size: 1em;
    font-family: 'CircularStd Book';
    transition: height .3s, visibility 0s ease-out; }
    .payment-content-c {
      justify-content: space-between;
      flex-direction: row; }
  .payment-section {
    overflow: hidden;
    transition: height 0.3s ease-out;
    height: auto; }
  .payment-cross {
    background-color: #252A41;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 200%;
    background-image: radial-gradient(#E74C3C 50%);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    animation-timing-function: ease-in;
    cursor: pointer; }
  .payment-2 {
    width: 50%;
    flex-direction: row;
    background-color: #252A41;
    color: #1D2134;
    border-radius: 18px;
    padding: 15px 20px;
    margin-bottom: 20px;
    display: flex;
    overflow: hidden;
    height: auto; }
  .payment-left {
    flex-basis: auto;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-right: solid 1px #E74C3C; }
    .payment-left h4 {
      color: #E74C3C;
      font-size: 1.2em;
      font-weight: bold; }
  .payment-right {
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: #E74C3C;
    font-weight: 500; }
    .payment-right form {
      display: flex;
      flex-direction: row; }
    .payment-right label {
      border-radius: 15px;
      font-size: .75rem;
      padding: 2.5px 17px;
      border: solid 2px #E74c3c; }
    .payment-right button {
      background-color: #E74C3C;
      width: 100px;
      text-align: center;
      height: 25px;
      font-size: 0.75rem;
      border-radius: 15px;
      border: none;
      color: white; }
    .payment-right input {
      display: none; }
    .payment-right span {
      font-size: .75rem;
      color: #1d2134; }
  .payment-time {
    width: 15px;
    margin: 5px 5px; }
    .payment-time-content {
      margin: 0 5px;
      font-size: .75em;
      display: flex;
      align-items: center; }

.invalid {
  text-align: left;
  color: red;
  margin: 0;
  font-size: 0.8rem; }

.click-ani {
  animation: gradient 300ms; }

.horizontal, .vertical {
  transition: all 0.5s ease-in-out;
  background-color: #E74C3C;
  width: 1rem;
  height: .1rem; }

.vertical {
  transform: rotate(90deg); }

.add-member {
  background-color: #E74C3C;
  color: white;
  height: 5rem;
  overflow: hidden;
  transition: all ease 1s; }
  .add-member-head {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between; }
  .add-member form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 5rem; }
  .add-member input {
    background-color: #2C3044;
    color: white;
    border-color: white; }
    .add-member input::placeholder {
      color: white; }
    .add-member input:focus {
      background-color: #2C3044;
      color: white;
      border-color: white; }
  .add-member input[type="file"] {
    display: none; }
  .add-member .inp-date::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../assets/img/regis/ic_date_range_24px.svg) no-repeat center;
    cursor: pointer; }
  .add-member .inp-date::-webkit-inner-spin-button {
    display: none; }
  .add-member .inp-file {
    background: url(../assets/img/regis/ic_perm_media_24px.svg) no-repeat right;
    background-origin: content-box;
    color: white;
    background-color: #2C3044;
    border-color: white; }
  .add-member .cir {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer; }
    .add-member .cir > .min, .add-member .cir .plus {
      width: 20px;
      height: 5px;
      background-color: #E74C3C; }
    .add-member .cir .plus {
      transform: rotate(90deg);
      position: absolute;
      transition: ease .5s; }
  .add-member button {
    border-radius: 30px;
    margin: 1rem 0;
    padding: 0.3rem 3rem;
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    font-size: 1.2rem;
    font-weight: 800;
    align-self: center; }

@keyframes showExpand {
  0% {
    display: none; }
  100% {
    display: flex; } }

@keyframes gradient {
  0% {
    background: radial-gradient(circle at center, #2C3044 0%, #E74C3C 0%, #E74C3C 100%); }
  25% {
    background: radial-gradient(circle at center, #2C3044 55%, #E74C3C 25%, #E74C3C 100%); }
  50% {
    background: radial-gradient(circle at center, #E74C3C 50%, #2C3044 49%, #E74C3C 100%); }
  75% {
    background: radial-gradient(circle at center, #E74C3C 50%, #2C3044 74%, #E74C3C 100%); }
  100% {
    background: radial-gradient(circle at center, #E74C3C 99%, #E74C3C 100%, #E74C3C 100%); } }

@media only screen and (max-width: 1024px) {
  body {
    flex-direction: column; }
  #container {
    padding: 0;
    margin: 0;
    flex-direction: column; }
  .line {
    display: none; }
  #header {
    font-size: 2rem;
    margin: 0;
    padding: 0; }
  h1 {
    font-size: 1.25rem;
    margin: 1rem; }
  hr {
    margin: .5rem; }
  #navbar {
    position: sticky;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 0;
    align-items: center;
    transition: margin 0.3s, visibility 0.3s, width 0.3s linear; }
    #navbar-c {
      width: 100%;
      height: fit-content;
      padding: 0;
      position: sticky; }
    #navbar-hackathon-logo {
      width: 0px; }
  .display-none {
    display: none; }
  #hamburger {
    text-align: right;
    display: flex;
    justify-content: flex-end; }
  .nav {
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden; }
    .navbar-header {
      padding: 0;
      margin: 0;
      overflow: hidden; }
    .navbar-footer {
      height: 0;
      width: 0;
      overflow: hidden;
      margin: auto; }
    .navbar-header-special {
      flex-direction: column;
      margin: 0;
      padding: 0;
      height: 0;
      justify-content: center; }
    .navbar-caption-2 {
      padding-left: 20px;
      width: 80%; }
    .navbar-caption-special {
      flex-direction: row;
      margin: 1rem 0;
      justify-content: center; }
    .navbar-icon-c-2 {
      width: 20%;
      height: 35px;
      margin: 0;
      padding: 0;
      justify-content: flex-end;
      text-align: right; }
  #content {
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    align-items: center;
    margin-left: 0; }
  .content {
    width: 100%; }
  .payment {
    width: 100%; }
    .payment-2 {
      background-color: #252A41;
      width: 100%; }
    .payment-header {
      font-size: 1.25rem; }
    .payment-title-c {
      font-size: 1.1rem; }
    .payment h4 {
      font-size: 1.25rem; }
    .payment-left {
      flex-basis: 40%; }
    .payment-right {
      font-size: 1rem;
      padding-top: .5rem; }
    .payment-button-left {
      margin-right: .5rem !important; }
  #payment-form div {
    font-size: .75rem;
    width: 100%; }
  .editgroup-content, .editgroup-col {
    width: 100%; }
  .editgroup-info {
    flex-direction: row; }
    .editgroup-info-left, .editgroup-info-right {
      width: 100%;
      margin: 0 .5rem;
      padding: 0; }
    .editgroup-info-input {
      width: 100%;
      padding: 2px 8px; }
  .editgroup-col header {
    font-size: 1.25rem; }
  .editgroup-contact-content {
    margin-bottom: 1rem; }
  .editgroup-contact-info {
    margin-top: .5rem; }
  .editgroup-cv-c {
    flex-direction: row;
    align-items: center;
    margin-top: .5rem; }
  .editgroup-cv-left {
    width: 48%;
    height: fit-content;
    box-sizing: border-box;
    margin: 0 .5rem;
    margin-right: 2%;
    padding: 2px .5rem;
    justify-content: flex-start;
    align-items: center; }
    .editgroup-cv-left img {
      height: 11px;
      width: auto; }
  .editgroup-cv-right {
    padding-top: 0;
    height: fit-content;
    margin: 0 .5rem; }
  .hr3 {
    border-top: solid 3px #E74C3C;
    margin: .5rem 0; } }

@media only screen and (max-width: 768px) {
  body {
    flex-direction: column; }
  #container {
    padding: 0;
    margin: 0;
    flex-direction: column; }
  .line {
    display: none; }
  #header {
    font-size: 2rem;
    margin: 0;
    padding: 0; }
  h1 {
    font-size: 1.25rem;
    margin: 1rem; }
  hr {
    margin: .5rem; }
  #navbar {
    position: sticky;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 0;
    align-items: center;
    transition: margin 0.3s, visibility 0.3s, width 0.3s linear; }
    #navbar-c {
      width: 100%;
      height: fit-content;
      padding: 0;
      position: sticky; }
    #navbar-hackathon-logo {
      width: 0px; }
  .display-none {
    display: none; }
  #hamburger {
    text-align: right;
    display: flex;
    justify-content: flex-end; }
  .nav {
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden; }
    .navbar-header {
      padding: 0;
      margin: 0;
      overflow: hidden; }
    .navbar-footer {
      height: 0;
      width: 0;
      overflow: hidden;
      margin: auto; }
    .navbar-header-special {
      flex-direction: column;
      margin: 0;
      padding: 0;
      height: 0;
      justify-content: center; }
    .navbar-caption-2 {
      padding-left: 20px;
      width: 80%; }
    .navbar-caption-special {
      flex-direction: row;
      margin: 1rem 0;
      justify-content: center; }
    .navbar-icon-c-2 {
      width: 20%;
      height: 35px;
      margin: 0;
      padding: 0;
      justify-content: flex-end;
      text-align: right; }
  #content {
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    align-items: center;
    margin-left: 0; }
  .content {
    width: 100%; }
  .payment {
    width: 100%;
    padding: 1rem; }
    .payment-2 {
      width: 100%;
      flex-direction: column;
      background-color: #252A41; }
      .payment-2 h4 {
        font-size: 1.25rem;
        margin: 0; }
    .payment-header {
      font-size: 1.25rem; }
    .payment-title-c {
      font-size: 1.1rem; }
    .payment h4 {
      font-size: 1.25rem;
      margin: 0; }
    .payment-left {
      flex-basis: 40%;
      border: none;
      border-bottom: solid 1px #E74C3C; }
    .payment-right {
      font-size: 1rem; }
  #payment-form {
    margin: 0 !important;
    justify-content: space-evenly; }
  .editgroup-content, .editgroup-col {
    width: 100%;
    border-radius: 20px; }
  .editgroup-info {
    flex-direction: column; }
    .editgroup-info-left, .editgroup-info-right {
      width: 100%;
      margin: 0;
      padding: 0; }
    .editgroup-info-input {
      width: 100%;
      padding: 2px 8px; }
  .editgroup-col {
    flex-direction: column !important; }
    .editgroup-col header {
      font-size: 1.25rem;
      font-weight: bold; }
  .editgroup-contact-content {
    margin-bottom: 1rem; }
  .editgroup-contact-info {
    margin-top: .5rem; }
  .editgroup-cv-c {
    flex-direction: column;
    align-items: center;
    margin-top: .5rem; }
  .editgroup-cv-left {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    margin: 0 .5rem;
    margin-bottom: 1rem;
    margin-right: 2%;
    padding: 2px .5rem;
    justify-content: flex-start;
    align-items: center; }
    .editgroup-cv-left img {
      height: 11px;
      width: auto; }
  .editgroup-cv-right {
    padding-top: 0;
    height: fit-content;
    margin: 0 .5rem; }
  .hr3 {
    border-top: solid 3px #E74C3C;
    margin: .5rem 0; } }
