body{
    box-sizing: border-box;
    background-color: #1D2134;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#container{
    width: 100vw;
    height: 100vh;
    background-color: #1D2134;
    color: white;
    position: absolute;
    padding: 25px 15px;
    display: flex;
    flex-direction:row;
    font-family: "CircularStd";
}
@font-face{
    font-family: "CircularStd";
    src: url("../assets/fonts/CircularStd-Medium.otf");
}
@font-face{
    font-family: "CircularStd Book";
    src: url("../assets/fonts/CircularStd-Book.otf");
}
#navbar{
    display: flex;
    flex-direction: column;
    background-color: #252A41;
    border-radius: 20px;
    height: 93%;
    flex: content;
    flex-wrap: nowrap;
    box-sizing: content-box;
    padding: 20px;
    align-content: center;
    white-space: nowrap;
    overflow: hidden;
    justify-content: flex-start;
    transition: flex 1s ease-in;
}
.navbar{
    &-content{
        display: flex;
        width: 100%;
        flex-direction: row;
        height: 75px;
        color: white;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        transition: transform .3s;
        padding: 0 .5rem;
        background-color: initial;
        border: initial;
    }
    &-content:hover{
        cursor: pointer;
        background-color: #343b5c;
        border-radius: 30px;
        box-sizing: content-box;
        color: #E74C3C;
        transition: background-color .2s linear;
    }
    &-header{
        display: flex;
        width: 100%;
        flex-direction: row;
        margin: 7px 0;
        color: white;
        align-items: center;
        justify-content: center;
    }
    &-icon{
        width: 45px;
    }
    &-icon-c{
        display: flex;
        justify-content: flex-start;
    }
    &-caption{
        display: none;
        text-transform: uppercase;
        font-size: 1em;
        width: 60%;
        margin-left: 20px;
        text-align: left;
        &-2{
            display: none;
            text-transform: uppercase;
            font-size: 1em;
            width: 60%;
            margin-left: 20px;
            text-align: left;
        }
    }

}
#content{
    width: 85%;
    margin: 0px 30px
}
hr{
    width: 100%;
    border-top: solid 1px gray;
}
.hr2{
    border-top: solid 3px white;
    width: 280px;
    margin-top: 0;
}
.payment{
    &-content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    &-col{
        width: 350px;
        background-color:#252A41;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 15px;
        margin-right: 20px;
        padding: 15px;
        border-radius: 15px;
    }
    &-col-button{
        display: flex;
        width: inherit;
        justify-content: center;
        flex-direction: row;
        margin: 10px 0px;
    }
    &-col-content{
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-insider{
        display: flex;
        flex-direction: row;
        width: inherit;
        font-size: 1.1rem;
    }
    &-insider-left{
        width: 60px;
        text-align: left;
        margin: 0px 5px;
    }
    &-insider-right{
        width: 85px;
        text-align: left;
        font-stretch: ultra-expanded;
        margin: 0px 5px;
    }
    &-verify{
        background-color: #E74C3C;
        width: 100px;
        border-radius: 15px;
        border: none;
        color: white;
        margin: 0 5px;
    }
    &-view{
        border:solid 3px #E74C3C;
        background: none;
        width: 100px;
        border-radius: 15px;
        color: white;
        margin: 0 5px;
    }
}
h1{
    font-size: 2.0rem;
    margin-top: 30px;
}
#display{
    &-c{
        position: fixed;
        padding: 20px;
        border-radius: 15px;
        background-color:#2C3044;
        z-index: 100;
        display: none;
    }
    &-image{
        width: 25vw;
    }
}
#barrier{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 50;
    margin: 0;
    left: 0;
    top: 0;
    padding: 0;
}
.active{
    background-color: #1D2134;
    border-radius: 28px;
    box-sizing: border-box;
    color: #E74C3C;
    transition: background-color .2s linear;
}
.participant{
    &-content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    &-col{
        width: 350px;
        height: 200px;
        background-color:#252A41;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 20px;
        padding: 15px;
        margin-top: 15px;
        border-radius: 15px;
    }
    &-col-content{
        text-align: left;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: c;
        h4{
            font-size: 1.5rem;
        }
    }
    &-colrow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-edit{
        background-color: #E74C3C;
        width: 150px;
        border-radius: 15px;
        border: none;
        color: white;
        margin: 2.5px 20px;
    }
    &-view{
        border:solid 3px #E74C3C;
        background: none;
        width: 150px;
        border-radius: 15px;
        color: white;
        margin: 2.5px 20px;
    }
    &-delete{
        color: #E74C3C;
        border-radius: 10px;
        border: none;
        font-size: 1.5em;
        text-align: right;
        align-self: flex-end;
        position: relative;
        top: -15px;
        background: none;
    }
    &-delete:hover{
        cursor: pointer;
    }
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editgroup{
    &-name{
        text-align: center;
    }
    &-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-col{
        display: flex;
        margin: 15px 0;
        width: 50%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #252A41;
        border-radius: 18px;
        padding: 20px;
        header{
            font-size: 2rem;
        }
    }
    &-info{
        display: flex;
        width: 100%;
        flex-direction: row;
        height: fit-content;
        &-c{
            display: flex;
            flex-direction: column;
            margin: 10px 0px;
        }
        &-input{
            background-color: #1D2134;
            border: none;
            border-radius: 8px;
            width: 90%;
            color: white;
            font-family: "CircularStd Book";
            font-size: 0.75rem;
            padding: 5px 8px;
        }
        &-left{
            width: 50%;
            height: max-content;
        }
        &-right{
            width: 50%;
            height: max-content;
        }
    }
    &-cv{
        &-c{
            display: flex;
            width: 100%;
            flex-direction: row
        }
        &-left{
            display: flex;
            flex-direction: row;
            font-family: "CircularStd Book";
            width: 45%;
            background-color: #1D2134;
            padding: 5px 8px;
            margin-right: 5%;
            border-radius: 8px;
            font-size: 0.75rem;
            img{
                height: 13px;
            }
            span{
                color: #E74C3C;
                margin: 0 10px;
            }
        }
    }
    &-view{
        border: solid 2px #E74C3C;
        background: none;
        width: 100px;
        font-size: 0.75rem;
        border-radius: 15px;
        color: white;
    }
    &-submit{
        background-color:#E74C3C;
        border: none;
        width: 50%;
        margin: auto;
        padding: 10px;
        border-radius: 50px;
        color: white;
        margin: 10px 5px;
        // margin-bottom: 30px;
        font-size: 1rem;
    }
}
.hr3{
    border-top: solid 1px #E74C3C;
}
#header{
    text-align: center;
    width: 100%;
    font-size: 3rem;
    margin-top: -6px;
}
#payment, #participant{
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.on{
    display: block !important;
    opacity: 1 !important;
    // transition: opacity 1s ease-in-out;
}
.modal{
    &-content{
        background-color: #252A41;
        color: #ffffff;
    }
    &-title{
        color: #E74C3C;
        font-size: 1.5rem;
        font-weight: bold;
    }
}
.close span{
    color: #ffffff;
}
.btn{
    &-primary{
        background-color: #E74C3C;
        border: none;
        &:hover{
            background-color: #C52A1A;
        }
    }
    &-secondary{
        background-color: initial;
        border: solid 1px gray;
    }
}

.display-none{
    display: none;
}

@media only screen and (max-width: 1024px) {
    #container{
        flex-direction: column;
        padding: 0;
    }
    #navbar{
        height: auto;
        padding: 0;
        z-index: 10;
        border-radius: 0;
        overflow: hidden;
        width: 100%;
        position: absolute;
    }
    .navbar{
        &-caption{
            width: auto;
        }
        &-content{
            height: 0;
            visibility: hidden;
            overflow: hidden;
            &-c{
                height: 0px;
                display: flex;
                width: inherit;
                flex-direction: column;
                justify-content: center;
            }
        }
        &-header{
            flex-direction: row;
            height: 50px;
        }
    }
    .hr-navbar{
        display: none;
    }
    #content{
        padding: 0;
        width: initial;
        box-sizing: border-box;
        margin: 3rem 2rem;
    }
    #header{
        padding-top: 3rem;
    }
    h1{
        text-align: center;
    }
    .payment{
        &-content{
            justify-content: space-evenly;
        }
        &-col{
            width: 45%;
        }
    }
    .participant{
        &-content{
            justify-content: center;
        }
        &-col{
            width: 45%;
        }
        &-col-content{
            display: flex;
            flex-direction: row;
        }
        &-delete{
            align-self: flex-start;
            position: relative;
            left: 95%;
        }
    }
    .editgroup{
        &-col{
            width: 100%;
        }
    }
}

@media only screen and (max-width: 768px){
    #container{
        flex-direction: column;
        padding: 0;
    }
    #navbar{
        height: auto;
        padding: 0;
        z-index: 10;
        border-radius: 0;
        overflow: hidden;
        width: 100%;
        position: absolute;
    }
    .navbar{
        &-caption{
            width: auto;
        }
        &-content{
            height: 0;
            visibility: hidden;
            overflow: hidden;
            &-c{
                height: 0px;
                display: flex;
                width: inherit;
                flex-direction: column;
                justify-content: center;
            }
        }
        &-header{
            flex-direction: row;
            height: 50px;
        }
    }
    .hr-navbar{
        display: none;
    }
    #content{
        padding: 0;
        width: initial;
        box-sizing: border-box;
        margin: 3rem 2rem;
    }
    #header{
        padding-top: 3rem;
    }
    h1{
        text-align: center;
    }
    .payment{
        &-content{
            justify-content: space-evenly;
        }
        &-col{
            width: 100%;
        }
    }
    .participant{
        &-col{
            width: 100%;
        }
        &-col-content{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        &-delete{
            align-self: flex-start;
            position: relative;
            right: -2%;
        }
    }
    #header{
        padding-top: 4rem;
    }
    .editgroup{
        &-info{
            flex-direction: column;
            &-c{
                width: 100%;
                display: flex;
                align-items: center;
            }
            &-c > label{
                align-self: flex-start;
            }
            &-input{
                width: 100%;
            }
            &-left{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &-right{
                width: 100%;
            }
        }
        &-col{
            width: 100%;
        }
    }
}
