body{
    box-sizing: border-box;
    background-color: #1D2134;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "CircularStd";
}

@font-face {
    font-family: "CircularStd";
    src: url("../assets/fonts/CircularStd-Medium.otf"); }  

@font-face{
    font-family: "CircularStd Book";
    src: url("../assets/fonts/CircularStd-Book.otf");
}

#navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #252A41;
    border-radius: 20px;
    height: 100%;
    flex: contents;
    flex-wrap: nowrap;
    box-sizing: content-box;
    padding: 20px;
    white-space: nowrap;
    // overflow: hidden;
    justify-content: flex-start;
    &-c{
        padding-left: 15px;
        height: 93%;
        position: sticky;
    }
}

.navbar{
    &-content{
        display: flex;
        width: 100%;
        flex-direction: row;
        height: auto;
        margin: 10px 0px;
        align-items: center;
        justify-content: center;
        color: white;
    }
    &-header{
        display: flex;
        width: 100%;
        flex-direction: row;
        margin: 10px 0;
        color: white;
        align-items: center;
        justify-content: center;
    }
    &-icon{
        width: 35px;
    }
    &-icon-c{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &-2{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    &-caption{
        display: flex;
        text-transform: uppercase;
        font-size: .8em;

        width:0;
        overflow: hidden;
        visibility: hidden;

        transition: margin 0.15s, visibility 0.15s, width 0.15s linear;
        text-align: left;
        &-special{
            display: flex;
            flex-direction: column;
            text-transform: none;

            width:0;
            overflow: hidden;
            visibility: hidden;

            transition: margin 0.15s, visibility 0.15s, width 0.15s linear;
        }
        &-2{
            width:0;
            overflow: hidden;
            visibility: hidden;

            transition: margin 0.15s, visibility 0.15s, width 0.15s linear;
        }
    }
    &-footer{
        position: absolute;
        display: flex;
        bottom: 20px;
        font-size: .75em;
        justify-content: center;

        width:0;
        visibility: hidden;
        transition: visibility 0.15s, width 0.15s linear;

    }
}

hr{
    width: 100%;
    border-top: solid 1px gray;
}
.hr3{
    border-top: solid 1px #E74C3C;
}
.hr4{
    border-top: solid 1px #E74C3C;
    margin: 0;
    padding: 0;
}

#display{
    &-image{
    width: 25vw;}
}

#container{
    width: 100%;
    height: 100%;
    background-color: #1D2134;
    color: white;
    position: relative;
    padding: 25px 15px;
    padding-left: 0;
    display: flex;
    flex-direction:row;
    font-family: "CircularStd";
}

.display{
    &-c{
        border: none;
        width: fit-content;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2C3044;
    }
}

.timeline {
    position: relative;
    color: #E74C3C; }
    .timeline-wrapper {
      width: 100%; }
    .timeline-icons > div {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .timeline-icons img {
      display: block;
      margin-top: 20%;
      width: 30%; }
    .timeline-path {
      color: white;
      position: absolute;
      width: 50%;
      transform: translateY(-150%); }
      .timeline-path-line {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 20%; }
    .timeline-line {
      width: 75%;
      height: 5px;
      background-color: #3498DB; }
    .timeline-dot {
      width: 76%;
      transform: translateY(-60%); }
      .timeline-dot > div {
        content: "";
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: #3498DB; }
    .timeline-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      z-index: 3; }

#content{
    width: 85%;
    margin: 0px 30px;
}

#header{
    text-align: center;
    width: 100%;
    font-size: 3rem;
    margin-top: -6px;
}

h1{
    font-size: 2.0rem;
    margin: 30px 0;
    text-align: center;
}

.content-x{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    &-link{
        padding: 0;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: .8em;
        color: white;
        width: inherit;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    // &-link:hover{
    //     // background-color: #1D2134;
    // }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #1D2134;
    border-radius: 28px;
    margin: 0;
    margin-left: -10px;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: content-box;
    position: relative;
}

.mar20{
    margin: 20px 0;
}

.editgroup{
    &-content{
        color: #E74C3C;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-col{
        display: flex;
        margin: 15px 0;
        width: 50%;
        flex-direction: column;
        background-color: white;
        border-radius: 18px;
        padding: 20px;
        header{
            font-size: 2rem;
        }
    }
    &-info{
        display: flex;
        flex-direction: row;
        height: fit-content;
        &-c{
            margin: 10px 0px;
            color: #1D2134;
        }
        &-input{
            background-color: white;
            border: solid 1px #7a7a7a;
            border-radius: 8px;
            width: 90%;
            color: #7a7a7a;
            font-family: "CircularStd Book";
            font-size: 0.75rem;
            padding: 5px 8px;
            height: auto;
            display: flexbox;
        }
        &-left{
            width: 50%;
            height: max-content;
        }
        &-right{
            width: 50%;
            height: max-content;
        }
    }
    &-cv{
        color: #7a7a7a;
        &-c{
            display: flex;
            flex-direction: row
        }
        &-left{
            display: flex;
            flex-direction: row;
            font-family: "CircularStd Book";
            width: 45%;
            border: solid 1px #7a7a7a;
            padding: 5px 8px;
            margin-right: 5%;
            border-radius: 8px;
            font-size: 0.75rem;
            img{
                height: 13px;
            }
            span{
                color: #E74C3C;
                margin: 0 10px;
            }
        }
    }
    &-view{
        background-color: #E74C3C;
        width: 100px;
        font-size: 0.75rem;
        border-radius: 15px;
        border: none;
        color: white;
    }
    &-contact{
        &-content{
            font-family:'CircularStd Book';
            font-weight: normal;
            font-size: .75em;
            flex-wrap: wrap;
            flex-basis: 50%;
        }
        &-info{
            font-family:'CircularStd';
            font-weight: normal;
            font-size: .75em;
            flex-direction: row;
            flex-basis: 25%;
            &-c{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 10px;
                color: #1D2134;
            }
        }
        &-icon{
            width: 20px;
            margin-right: 15px;
        }
    }
}

.payment{
    width: 50%;
    flex-direction: column;
    background-color: white;
    color: #1D2134;
    border-radius: 18px;
    padding: 20px 30px;
    margin-bottom: 20px;
    overflow:hidden;
    height:auto;
    &-c{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-header{
        font-size: 2em;
        padding: 0px 10px;
        padding-bottom: 15px;
        font-weight: bold;
        color: #E74C3C;
    }
    &-title{
        flex-basis: 90%;
        &-c{
            padding: 10px;
            padding-bottom: 10px;
            display: flex;
            font-size: 1.2em;
            flex-direction: row;
            font-family: "CircularStd";
            font-weight: normal;
            align-items: center;
        }
    }
    &-content{
        margin-bottom: 10px;
        padding-left: 30px;
        font-size: 1em;
        font-family: 'CircularStd Book';
        transition: height .3s, visibility 0s ease-out;
        &-c{
            flex-direction: row;
        }
    }
    &-section{
        overflow:hidden;
        transition:height 0.3s ease-out;
        height:auto;
    }
    &-cross{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 200%;
        background-image: radial-gradient(#ffffff 50%);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        animation-timing-function: ease-in;
        cursor: pointer; 
    }
    &-2{
        width: 50%;
        flex-direction: row;
        background-color: white;
        color: #1D2134;
        border-radius: 18px;
        padding: 15px 20px;
        margin-bottom: 20px;
        display: flex;
        overflow:hidden;
        height:auto;
    }
    &-left{
        flex-basis: auto;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-right: solid 1px #E74C3C;
        h4{
            color: #E74C3C;
            font-size: 1.2em;
            font-weight: normal;
        }
    }
    &-right{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        color: #E74C3C;
        font-weight: 500;
        button{
            background-color: #E74C3C;
            width: 100px;
            height: 25px;
            font-size: 0.75rem;
            margin-right: 20px;
            border-radius: 15px;
            border: none;
            color: white;
        }
    }
    &-time{
        width: 15px;
        margin: 5px 5px;
        &-content{
            margin: 0 5px;
            font-size: .75em;
            display: flex;
            align-items: center;
        }
    }
}

.click-ani {
    animation: gradient 300ms; }

.horizontal, .vertical {
    transition: all 0.5s ease-in-out;
    background-color: #E74C3C;
    width: 1rem;
    height: .1rem; }

.vertical {
    transform: rotate(90deg); }

@keyframes showExpand{
    0% {
        display: none;
    }
    100%{
        display: flex;
    }
}

@keyframes gradient {
    0% {
      background: radial-gradient(circle at center, #3498DB 0%, #FFFFFF 0%, #FFFFFF 100%); }
    25% {
      background: radial-gradient(circle at center, #3498DB 55%, #ffffff 25%, #ffffff 100%); }
    50% {
      background: radial-gradient(circle at center, #ffffff 50%, #3498DB 49%, #ffffff 100%); }
    75% {
      background: radial-gradient(circle at center, #ffffff 50%, #3498DB 74%, #ffffff 100%); }
    100% {
      background: radial-gradient(circle at center, #ffffff 99%, #ffffff 100%, #ffffff 100%); } }
  